* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	background: #444;
	color: #f6f6f6;
}

.chat-messages {
	list-style-type: none;
	height: 300px;
	overflow-y: scroll;
}

.character-list li {
	list-style: none;
	width: 100%;
	padding: 10px 20px;
	background: #efefef;
	border: 1px solid #ccc;
}
.character-list li:hover {
	cursor: pointer;
	background: #d6d6d6;
}

#vsCanvas {
	margin-left: calc(50% - 320px);
	border: 1px solid #333;
	background: #666;
	box-shadow: 0 5px 20px rgba(0,0,0,.2);
}
